@use "../abstracts" as *;
section#Header{
    height: 100vh;
    #carouselExampleCaptions{
        position: relative;
        .control{
            top: 50%;
            transform: translateY(-50%);
            &:hover{
                &::before{
                    transform: rotate(30deg);
                }
            }
            &::before{
                position: absolute;
                transition: all 0.5s;
                @include shapeNav($w: 50px, $h: 50px, $color: transparent, $opacity: 1, $border-color: $x);
            }
            .iconControll{
                color: $x!important;
            }
            @include responsive(350){
                display: none;
            }
            @include responsive(1050){
                display:flex !important;
            }
        }
        .carousel-control-prev{
            left: 10px;
            &:hover{
                &::before{
                    transform: rotate(-30deg);
                }
            }
        }
        .carousel-control-next{
            right: 10px;
        }
        .carousel-inner{
            position: relative;
            .carousel-item {
                transition: opacity 1s;
                transform: scale(1.3);
                transition: all 0.4s;
                @include bgImg();
                &.active {
                    transform: scale(1);
                    .carousel-caption {
    
                        h6,
                        img,
                        h2,
                        p,
                        button {
                            opacity: 1;
                            transform: translateY(0);
                        }
                    }
                }
                .carousel-caption {
                    width: 100%;
                    height: 100%;
                    padding: 0;
                    top: 0px;
                    left: 0px;
                    display: flex !important;
                    @include flexCenter(column);
                    h6,
                    img,
                    h2,
                    p,
                    button {
                        transition: all 1s!important;
                        margin-top: 5px;
                        @include responsive(350) {
                            margin-top: 0;
                        }
                    }
                    button.buttonShaped{
                        transition: all 0.5s 1s;
                    }
                    h6 {
                        font-size: 16px;
                        opacity: 0;
                        transform: translateY(30px);
                        transition-delay: 0.1s;
                    }
                    img {
                        width: 100px;
                        opacity: 0;
                        transform: translateY(10px);
                        transition-delay: 0.3s;
                    } 
                    h2 {
                        font-size: 80px;
                        opacity: 0;
                        transform: translateY(10px);
                        transition-delay: 0.4s;
                        @include responsive(350){
                            font-size: 40px;
                        }
                        @include responsive(450) {
                            font-size: 50px;
                        }
                        @include responsive(650) {
                            font-size: 60px;
                        }
                        @include responsive(850) {
                            font-size: 70px;
                        }
                        @include responsive(1050) {
                            font-size: 80!important;
                        }
                    }
                    p {
                        font-size: 20px;
                        opacity: 0;
                        transform: translateY(10px);
                        transition-delay: 0.6s;
                        @include responsive(350) {
                            font-size: 15px;
                        }
                        
                    }
                    
                }
                &.item1{
                    background-image: url("../imgs/slider-1.jpg");
                }
                &.item2{
                    background-image: url("../imgs/slider-2.jpg");
                }
                &.item3{
                    background-image: url("../imgs/slider-3.jpg");
                }
            }
        }
        .carousel-indicators{
            .cover{
                @include Position($type: absolute, $r: -100px, $b: 10px);
                @include responsive(350) {
                        @include Position($type: absolute, $b: 10px, $r: -40px);
                    }
                button {
                    width: 11px;
                    height: 11px;
                    border-radius: 100%;
                    transition: all 0.5s;
                    &.active {
                        background-color: $x;
                    }
                    &:not(:last-child) {
                        margin-right: 5px;
                    }
                    }
            }
        }
    }
    .BookTable{
        background-color: $x;
        text-align: center;
        z-index: 100;
        padding: 7px 20px;
        position: relative;
        cursor: pointer;
        img{
            width: 30px;
            @include responsive(350){
                width: 20px;
            }
        }
        p{
            font-size: 15px;
            @include responsive(350) {
                font-size: 10px;
            }
        }
        &::before{
            position: absolute;
            z-index: -1;
            @include shapeNav($w: 100%, $h: 100%, $color:rgba(255, 0, 0, 0), $opacity: 1, $border-color:$x);
            animation: animationRotate 3s infinite alternate;
            box-shadow: rgba(228, 197, 144,0.35) 0px 5px 15px;
        }
        @include Position($type: absolute,$b: 40px, $l: 90px);
        @include responsive(350){
            @include Position($type: absolute, $b: 40px, $l: 40px);
        }
        @include flexCenter(column);
        
    }
}