@use "../abstracts" as *;
div.loading{
    @include Position($type: fixed, $t: 0, $l: 0);
    @include size($w:100%,$h:100%);
    @include flexCenter(column);
    opacity: 1;
    z-index: 20000;
    transition: all 2s;
    .cudeLoading {
        position: relative;
        @include size($w: 150px, $h: 150px);
        .loadinBorder{
            @include size($w: 100%, $h: 100%);
            border: 2px solid #ffffff;
            border-radius: 100%;
            border-top-color: #e4c590;
            animation: animationRotate 1s infinite linear;
            position: relative;
            
        }
        .loadingImg{
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            img{
                width: 100%;
            }
        }
    }
    .text{
        width: 100%;
        @include flexCenter();
        .show {
            @include flexCenter();
            span {
                font-size: 90px;
                @include responsive(350){
                    font-size: 80px;
                }
                @include responsive(1050){
                    font-size: 90px;
                }
                -webkit-text-stroke-width: 1px;
                -webkit-text-stroke-color: rgb(255, 255, 255);
            }
        }
        .dance{
            position: absolute;
            @include flexCenter();
            span{
                &:nth-of-type(1){
                    animation-delay: 0.2s;
                }
                &:nth-of-type(2){
                    animation-delay: 0.4s;
                }
                &:nth-of-type(3){
                    animation-delay: 0.6s;
                }
                &:nth-of-type(4){
                    animation-delay: 0.8s;
                }
                &:nth-of-type(5){
                    animation-delay: 1s;
                }
                &:nth-of-type(6){
                    animation-delay: 1.2s;
                }
                color: white;
                font-size: 90px;
                @include responsive(350){
                    font-size: 80px;
                }
                @include responsive(1050){
                    font-size: 90px;
                }
                animation: Swap 1s infinite alternate-reverse;
            }
        }
    }
}
div.loading.unshow{
    opacity: 0;
    z-index: -1;
}