@use "../abstracts" as *;
.pop-up-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e4c590c5;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: -10;
    overflow-y: auto;
    overflow-x: hidden!important;
    transition: all 1s;
    &::-webkit-scrollbar {
            display: none;
            /* Chrome, Safari, Opera */
    }
    &.show{
        opacity: 1!important;
        z-index: 10000!important;
        .pop-up-nav-box{
            transform: translateX(0);
        }
    }
    .pop-up-nav-box{
        @include Position($type: absolute, $t: 0, $l: 0);
        transform: translateX(-100%);
        transition: all 0.5s;
        width: 350px;
        padding: 40px 0px;
        position: relative;
        .container-box{
            @include flexCenter(column);
            .exit{
                @include Position($type: absolute, $t: 10px, $r: 10px);
                button{
                    background-color: transparent;
                    border: 0;
                    img{
                        width: 50px;
                    }
                }
            }
            .imgLogo{
                @include flexCenter();
                .imgCover{
                    border-radius: 100%;
                    overflow: hidden;
                    img{
                        width: 150px;
                    }
                }
            }
            .nav-links{
                ul{
                    @include flexCenter(column);
                    li{
                        list-style: none;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.779);
                        width: 60%;
                        padding-block: 10px;
                        text-align: start;
                        display: flex;
                        align-items: center;
                        &:first-child{
                            border-top: 1px solid rgba(255, 255, 255, 0.779);
                        }
                        img{
                            display: none;
                            width: 25px;
                        }
                        &.active a{
                            color: $x;
                        }
                        &.active img{
                            display: initial!important;
                        }
                        a{
                            text-decoration: none;
                            color: white;
                            font-family: "DM Sans", sans-serif;
                            font-size: 17px;
                            font-weight: 400;
                            display: flex;
                            position: relative;
                            
                        }
                        span{
                            @include size($w:10px,$h:10px);
                            border: 2px solid $x;
                            display: none;
                        }
                        
                    }
                }
            }
            .vistTitle{
                h2{
                    font-size: 45px;
                }
            }
            .shapes{
                position: relative;
                @include flexCenter();
                img{
                    width: 35px;
                }
            }
            .book{
                p{
                    color: white;
                    font-size: 20px;
                    font-weight: 600;
                }
            }
            .bookPhone{
                a{
                    text-decoration: none;
                    color: $x;
                    font-size: 25px;
                    position: relative;
                    
                }
            }
        }
    }
}