@use "../abstracts" as *;
div.pop-up-book{
    &::-webkit-scrollbar {
            display: none;
    }
    @include Position($type: fixed, $t: 0,$l: 0);
    background-color: #e4c590ac;
    opacity: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transition: all 1s;
    overflow: auto;
    &.show{
        opacity: 1;
        z-index: 10000;
        .pop-up-book-box{
            transform: translateY(0)!important;
        }
    }
    .pop-up-book-box{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        width: 600px;
        @include responsive(350){
            width: 350px;
        }
        @include responsive(450){
            width: 400px;
        }
        @include responsive(650){
            width: 600px;
        }
        margin: auto;
        margin-top: 5px;
        padding: 15px 20px;
        transform: translateY(-200%);
        transition: all 1s;
        position: relative;
        .exit {
                @include Position($type: absolute, $t: 10px, $r: 10px);
                button {
                    background-color: transparent;
                    border: 0;
                    img {
                        width: 50px;
                    }
                }
            }
        .title{
            h5{
                @include responsive(350){
                    font-size: 23px;
                }
            }
            img{
                width: 50px;
                &.separator{
                    margin-left: 0;
                }
            }
        }
        .headTitle{
            h2{
                font-size: 50px;
            }
        }
        .PhoneNum{
            p{
                color: white;
                padding: 10px;
                a{
                    color: $x;
                }
            }
        }
        .formMajor{
            padding: 0px 10px;
            form{
                .arrow{
                    @include flexCenter();
                    @include responsive(350){
                        display: initial;
                    }
                    @include responsive(650){
                        display: flex;
                    }
                    gap: 30px;
                    input{
                        background-color: transparent;
                        border: 2px solid rgb(118, 118, 118);
                        outline: 0 !important;
                        @include responsive(350) {
                            margin-top: 1.5rem;
                        }
                        @include responsive(650) {
                            margin-top: 0;
                        }
                        color: white;
                        &[type="datetime-local"]{
                            color: rgb(118, 118, 118);
                        }
                        padding: 8px 15px;
                        border-radius: 7px;
                        transition: all 0.5s;
                        &::placeholder {
                            color: rgb(118, 118, 118);
                            font-family: "DM Sans", sans-serif;
                        }
                        &:focus {
                            border: 2px solid rgb(255, 255, 255);
                        }
                    }
                }
                .textAreaCon{
                    textarea{
                        background-color: transparent;
                        border: 2px solid rgb(118, 118, 118);
                        outline: 0 !important;
                        color: white;
                        padding: 8px 15px;
                        border-radius: 7px;
                        resize: none;
                        transition: all 0.5s;
                        &::placeholder {
                            color: rgb(118, 118, 118);
                            font-family: "DM Sans", sans-serif;
                        }
                        &:focus {
                            border: 2px solid rgb(255, 255, 255);
                        }
                    }
                }
                .btnCon{
                    @include flexCenter();
                    button{
                        transition-delay: 0s !important;
                    }
                }
            }
        }
    }
}