@use "../abstracts" as *;
section.special{
    position: relative;
    .title{
        h5{
            @include responsive(350){
                font-size: 25px!important;
            }
            @include responsive(850){
                font-size: 30px!important;
            }
            @include responsive(1050){
                font-size: 40px!important;
            }
        }
    }
    .dishTitle{
        h2{
            font-size: 50px;
            @include responsive(350) {
                font-size: 35px;
            }
            @include responsive(850) {
                font-size: 40px;
            }
        }
    }
    .dishPrise{
        .oldPrise{
            color:#686868;
            font-size: 25px;
            margin-right: 10px!important;
        }
        .newPrise{
            font-size: 25px;
            margin-left: 10px !important;
        }
    }
    .bookBtn{
        @include responsive(350) {
            @include flexCenter();
        }
        @include responsive(850) {
            display: block!important;
        }
        button{
            
        }
    }
    .col1{
        .mainDish{
            padding: 20px;
            .headshaped{
                @include responsive(350){
                    width: 100% !important;
                }
            }
        }
    }
    .imgBg {
        @include Position($type: absolute, $t: 0, $r: 0);
        @include size($w: 50px, $h: 100%);
        @include responsive(350) {
            width: 40px;
        }
    }
    .imgBg2 {
        left: 0;
    }
    .col2{
        @include responsive(350){
            padding-inline: 50px;
        }
        @include responsive(450){
            padding-inline: 40px!important;
        }
    }
}