@use "../abstracts" as *;
section.story{
    position: relative;
    .col1{
        @include flexCenter(column);
        .bigText {
            h2 {
                font-size: 45px;
                @include responsive(350){
                    font-size: 32px;
                }
            }
        }
        .storyText{
            p{
                @include responsive(350){
                    font-size: 12px;
                }
            }
        }
        .book {
            p {
                font-size: 16px;
                font-weight: 600;
            }
            a {
                font-size: 25px;
                font-weight: 600;
            }
        }
        .bookBtn {
            display: flex;
            justify-content: center;
        }
    }
    .col2{
        @include flexCenter();
        @include responsive(350) {
            margin-top: 40px;
        }
        .item{
            position: relative;
            .imgTop{
                position: relative;
                @include Position($type: absolute, $t: 0, $r: 0);
                @include flexCenter();
                transform: translate(40%, -45%);
                .img1{
                    animation: animationRotate 5s infinite linear;
                    @include responsive(350){
                        width: 90px;
                    }
                }
                .img2{
                    position: absolute;
                    @include responsive(350){
                        width: 90px;
                    }
                }
            }
            .majorImg {
                img {
                    width: 450px;
                    @include responsive(350){
                        width: 250px!important;
                    }
                    @include responsive(850){
                        width: 310px!important;
                    }
                }
                
            }
            .imgButton{
                @include Position($type: absolute, $b: 0, $l: 0);
                width: 50%!important;
                transform: translate(-30%, 15%);
                @include responsive(350) {
                    transform: translate(-30%, 20%);
                }
                .headshaped{
                    overflow: initial!important;
                    .img1{
                        width: 100px;
                        @include responsive(350){
                            width: 70px;
                        }
                    }
                    .img2{
                        width: 200px;
                        @include responsive(350) {
                            width: 130px;
                        }
                    }
                }
            }
        }
    }
}